* {
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: Arial;
}
.page {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 958px;
  border: 2px solid #010101;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 0;
}
.page:after,
.page:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}
.page:after {
  left: -32px;
  right: -32px;
  background: center 75px url("imgs/bg.png") no-repeat;
  z-index: -1;
}
.page:before {
  left: 0;
  right: 0;
  background: #72c4f6;
  z-index: -2;
}
.page__header {
  min-height: 550px;
}
.page__content {
  flex-grow: 2;
}
.page__footer {
  background: transparent;
  border-top: 2px solid #010101;
  padding: 84px 96px;
}
.header__logo {
  padding-top: 16px;
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 90px;
  justify-content: center;
  display: flex;
  background: url("imgs/plash.png");
  background-position-y: -2px;
  background-repeat: no-repeat;
}
.header__title {
  font-weight: normal;
  margin: 0;
  font-size: 46px;
  padding: 0 64px 76px;
  text-align: center;
  margin-top: 276px;
}
.block {
  padding: 80px 96px;
  position: relative;
}
.block:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #010101;
}
.play__link {
  display: block;
  border: 2px solid #010101;
  border-radius: 4px;
  width: 150px;
  height: 80px;
  background: center center url("imgs/play.png") no-repeat;
}
.general-info {
  display: flex;
}
.general-info__text {
  margin-right: 60px;
  max-width: 600px;
}
.general-info p {
  margin-top: 0;
}
.history {
  background: center 450px url("imgs/main_bg.png") no-repeat;
}
.people {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.people__item {
  width: 300px;
  text-align: center;
  font-weight: 600;
}
.people__figure {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: 2px solid transparent;
  padding: 4px;
  margin-bottom: 16px;
}
.people__figure:hover {
  border-color: #fff;
}
.people__avatar {
  width: 138px;
  height: 138px;
  display: block;
}
.people__name {
  margin-bottom: 60px;
}
.people__text {
  font-weight: normal;
  text-align: center;
  max-width: 294px;
}
.footer__text {
  width: 468px;
}
.social {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social__network {
  display: inline-block;
}
.social__link {
  display: block;
  width: 24px;
  height: 24px;
  background: #010101;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu__list {
  padding: 0;
}
.menu__item {
  display: inline-block;
  padding-left: 18px;
}
.menu__item:first-child {
  padding-left: 0;
}
.menu__item_caption_copyright {
  padding-left: 80px;
}
.menu__item a {
  text-decoration: none;
  color: inherit;
}
.menu__item a:hover {
  text-decoration: underline;
  color: inherit;
}
.menu__item a:active {
  color: inherit;
}
